.education {
    background: linear-gradient(178deg, #2470d3 70%, rgb(255, 253, 253) calc(70% + 2px));
}

.educationCard {
    transition: 250ms ease-in-out;
}

.educationCard:hover {
    transform: translateY(-10px);
}