.skillStack {
    margin-top: 50px;
}

@media screen and (max-width: 425px) {
    .skillStack {
        margin-bottom: 50px;
    }
}

.icon {
    transition: 250ms ease-in-out;
    background: white;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

@media screen and (max-width: 425px){
    .icon {
        width: 40px;
        height: 40px;
    }
}

.icon:hover {
    transform: translateY(-10px);
    background: white;
}

.skill-icon {
    margin: 0 5px;
}