.aboutImg {
    object-fit: cover;
    height: 70%;
    width: 70%;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
    border-radius: 10%;
}

 p {
    color: black
}

.button {
    background-color: red;
}

@media screen and (max-width: 425px) {
    .aboutText {
        margin-top: 20px;
    }
}