@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Courgette&family=Lobster&family=Noto+Sans&display=swap");

.mobile-nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background: transparent;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(15px);
}

.navbarContainer {
  display: flex;
  justify-content: center;
}

.h2 {
  font-family: "Arizonia", cursive;
  font-size: 3em;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .h2 {
    font-size: 2.75em;
  }
}


.MuiMenu-list{
    width: 90vw;
}
