@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Courgette&family=Lobster&family=Noto+Sans&display=swap");

.mobile-nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background: transparent;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  transition: var(--transition);
  color: whitesmoke;
  z-index: 100;
  padding: 0.5rem 1.3rem;
}

.navbarActive {
  display: flex;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: rgba(24, 108, 192, 0.608);
  position: fixed;
  z-index: 2;
  padding: 0.5rem 1.3rem;
}

.navbarContainer {
  display: flex;
  justify-content: center;
}

.h2 {
  font-family: "Arizonia", cursive;
  font-size: 3em;
  margin: 0;
  text-align: center;
}


.MuiMenu-list{
    width: 90vw;
}

.iconButton:hover {
  background-color: rgb(72, 55, 160);
}


@media screen and (max-width: 768px) {
  .navLinks {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .h2 {
    font-size: 2.75em;
  }
}


.anchor {
  scroll-padding-top: 100px;
}