.card {
  transition: 250ms ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.angledBackgroundProjects {
  background: linear-gradient(35deg,#11cdef,#1171ef)!important;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
}

.angledBackgroundProjects:after {
  background: rgb(255, 255, 255);
  bottom: 0;
  content: '';
  display: block;
  height: 13%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}

/* .angledBackgroundProjects:before {
  background: rgb(251, 253, 255);
  top: 0;
  content: '';
  display: block;
  height: 5%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(1.2deg);
  transform-origin: 100%;
  z-index: -1;
} */

.slide {
  transition: 250ms ease-in-out;
}
